<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>

	<body>
		<form action="/search">
			<label>Query <input name="query" required /></label>
			<button>Search</button>
		</form>
		<p><%= quotes.length ? (typeof totalCount === 'undefined' ? quotes.length + '+' : totalCount) : 'No' %> quotes found</p>
		<% if (typeof pageCount !== 'undefined') { %>
			<nav>
				<ul>
					<% for (let page = 0; page < pageCount; page++) { %>
						<li><a href="/search?query=<%= query %>&page=<%= page %>"><%= page %></a></li>
					<% } %>
				</ul>
			</nav>
		<% } %>
		<ul>
			<% for (const quote of quotes) { %>
				<li>
					S<%= quote.season %>.E<%= quote.episodes.join('-') %>
					at <%= new Date(quote.timeStamp * 1000).toISOString().substr(11, 8); %>

					- <%- quote.text.replace(new RegExp('(' + [...query].map(char => `[${char}]`).join('') + ')', 'ig'), '<b>$1</b>') %>
				</li>
			<% } %>
		</ul>
	</body>

</html>