<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Quotes Search API</title>
		<style>
			h1, h2, p, ul {
				text-align: center;
			}

			fieldset {
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: max-content;
				margin: auto;
			}

			ul {
				list-style: none;
				padding: 0;
			}

			.quote-item {
				margin: 1rem 0;
			}

			.text {
				margin-left: 1rem;
			}

			.show-name {
				font-size: 2rem;
				list-style: none;
			}
		</style>
	</head>

	<body>
		<input type="hidden" value="<%= typeof query === 'undefined' ? '' : query %>" id="original-query" />

		<h1>Quotes Search API</h1>
		<form action="/search">
			<fieldset>
				<legend>Controls</legend>

				<label for="queryInput">
					Query
				</label>
				<input
					id="queryInput"
					name="query"
					required
					value="<%= typeof query === 'undefined' ? '' : query %>"
				/>

				<label for="showInput">
					Show
				</label>
				<input
					id="showInput"
					name="show"
					list="showNames"
					autocomplete="off"
					value="<%= typeof show === 'undefined' ? '' : show %>"
				/>
				<datalist id="showNames">
					<% for (const showName of mediaTitles) { %>
						<option><%= showName %></option>
					<% } %>
				</datalist>

				<label for="seasonInput">
					Season #
				</label>
				<input
					id="seasonInput"
					name="season"
					list="seasonList"
					autocomplete="off"
					value="<%= typeof season === 'undefined' ? '' : season %>"
					min="1"
				/>
				<datalist id="seasonList">
					<% for (const number in (typeof showInfo === 'undefined' ? {} : showInfo)) { %>
						<option><%= number %></option>
					<% } %>
				</datalist>

				<label for="episodesInput">
					Episode
				</label>
				<input
					id="episodesInput"
					name="episodes"
					list="episodesList"
					autocomplete="off"
					value="<%= typeof episodes === 'undefined' ? '' : episodes %>"
					min="1"
				/>
				<datalist id="episodesList">
					<% for (const number of (typeof showInfo === 'undefined' ? {} : showInfo)[typeof season === 'undefined' ? undefined : season] || []) { %>
						<option><%= number %></option>
					<% } %>
				</datalist>

				<label for="pageInput">
					Page
				</label>
				<input
					id="pageInput"
					name="page"
					min="1"
					type="number"
					value="<%= typeof page === 'undefined' ? 1 : page %>"
					max="<%= typeof counts.page === 'undefined' ? 1 : Math.max(counts.page, 1) %>"
				/>

				<button>Submit</button>
				<button type="reset">Reset</button>
			</fieldset>
		</form>
		<p><%= quotes.length ? (typeof counts.total === 'undefined' ? quotes.length + '+' : counts.total) : 'No' %> quotes found</p>
		<ul>
			<%
			var title = '';
			for (const quote of quotes) {
				if (title.toLowerCase() !== quote.media.title.toLowerCase()) {
					title = quote.media.title
					%> <li class="show-name"> <%= title %> </li> <%
				}
				%>
				<li class="quote-item" data-title="<%= quote.media.title %>" data-season="<%= quote.media.season %>" data-episode="<%= quote.media.episode %>" data-timestamp="<%= quote.timeStamp %>" >
					<button class="previous-button" aria-label="Show Previous Quote"><</button>
					<code class="identifier">
						<% if (quote.media.season) { %>
							S<%= quote.media.season %> E<%= quote.media.episode %> at
						<% } %>
						<%= new Date(quote.timeStamp * 1000).toISOString().substr(11, 8); %>
					</code>
					<button class="next-button" aria-label="Show Next Quote">></button>

					<div class="text"><%- quote.text.replace(new RegExp('(' + [...query].map(char => `[${char}]`).join('') + ')', 'ig'), '<b>$1</b>') %></div>
				</li>
			<% } %>
		</ul>
		<footer>
			<h2>API</h2>
			<ul>
				<li><a href="/api-docs/">Swagger UI</a></li>
				<li><a href="/api-docs.json">OpenAPI JSON</a></li>
			</ul>
				<p>
					Current query API Endpoint:
					<br/>
					<code><a href="/api<%= relativeURL %>">/api<%= relativeURL %></a></code>
				</p>
			<br/>
			<pre>Deployed Version: <%= DEPLOY_INFO %></pre>
		</footer>

		<script src="/index.js"></script>
	</body>

</html>